.live-banner {
  display: flex;
  font-size: var(--fs-metadata);
  background: var(--red-color);
  border-radius: $radius / 2;
  &__text {
    display: flex;
    align-items: center;
    gap: 0.3em;
    padding: $padding;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1em;
    &::before {
      content: "";
      display: block;
      width: 0.5em;
      height: 0.5em;
      background: var(--content-color);
      border-radius: 50%;
    }
  }
  &__counter {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--red-dark-color);
    padding: $padding $padding / 2;
    border-radius: $radius / 2;
    gap: 0.3em;
    &:before {
      content: "\e8f4";
      font-size: 1em;
      font-family: var(--ff-icons);
    }
  }
}

.quality-selector {
  display: flex;
  background: var(--message-color);
  border-radius: $radius / 2;
  button,
  .button {
    background: transparent;
    color: var(--metadata-color);
    padding: $padding $padding / 2;
    margin: 0;
    &.active {
      color: var(--content-color);
      background: var(--own-message-color);
    }
  }
}

.identify-editor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: $padding * 2;
  height: 100%;
  position: relative;
  z-index: var(--zi-modal);
  background: var(--bg-color);
}
.message {
  display: block;
  text-align: center;
  padding: $padding;
  font-size: var(--fs-special);
  font-weight: bold;
  &.failed {
    color: red;
  }
  &:empty {
    display: none;
  }
}
.loader::before {
  content: "";
  display: block;
  width: 38px;
  height: 38px;
  border: 8px solid rgba($primary-color, 0.3);
  border-left-color: var(--primary-color);
  border-radius: 50%;
  animation: spinner 0.8s linear infinite;
  @keyframes spinner {
    to {
      transform: rotate(360deg);
    }
  }
}
