*,
*::before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: 1em;
}

body {
  background: var(--bg-color);
  display: block;
  width: 100vw;
  height: 100vh;
}
button,
button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $padding;
  border: 0;
  border-radius: $radius / 2;
  background: var(--primary-color);
  color: var(--content-color);
  font-size: var(--fs-metadata);
  line-height: 1em;
  &.secondary {
    background: var(--secondary-color);
  }
}
input,
textarea {
  color: var(--content-color);
  border: 0;
  resize: none;
  font-family: var(--ff-content);
}

.material-icons {
  font-size: 1.3em;
  line-height: 1em;
}
